$o-theme-font-size-base: 1rem;

// Theme colors
$-palettes: (
    (
        'alpha':        #A6A3CC,
        'beta':         #355691,
        'gamma':        #413F54,
        'delta':        #3A4B6B,
        'epsilon':      #A6A3CC,
    ),
);

$o-theme-color-palettes: ();
@each $-palette in $-palettes {
    $o-theme-color-palettes: append($o-theme-color-palettes, map-merge($-palette, (
        'primary':      map-get($-palette, 'alpha'),
        'secondary':    map-get($-palette, 'delta'),
        'menu':         rgb(255,255,255),
        'footer' :      rgb(255,255,255),
    )));
}


// Colors
$o-color-palettes: ();
@each $-palette in $o-theme-color-palettes {
    $o-color-palettes: append($o-color-palettes, (
        'body':         map-get($-palette, 'alpha'),
        'menu':         map-get($-palette, 'gamma'),
        'footer':       map-get($-palette, 'gamma'),
        'gray-t' :      rgb(206,206,206),
    ));
}

//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------

$o-theme-fonts: (
    ('Pacifico',cursive),
    ('Roboto', sans-serif),

);
$o-theme-font-urls: (
    'Pacifico&display=swap',
    'Roboto:400,400i,700,700i',

);
$o-theme-font-names: (
    'Pacifico',
    'Roboto',

);

//------------------------------------------------------------------------------
// Website customizations
//------------------------------------------------------------------------------

$o-website-values-palettes: (
    (
        'header-font-size': 1rem,
        'font-number': 2,
        'headings-font-number': 1,
        'navbar-font-number': 2,
        'buttons-font-number': 1,
    ),
);
